{% extends 'homepage/base.html' %}
{% load static %}

{% block title %}
    {% if about %}
        <title>{{ about.headlines }}</title>
    {% else %}
        <title>About H-W-C</title>
    {% endif %}
{% endblock %}

{% block content %}
   
    
     <!-- Links Tags -->
    <div class="links-tag">
        <h4><a href="{% url 'homepage:index' %}"><i class="fa fa-home"></i> Home</a></h4>
        <div> <i class="fa fa-chevron-right" aria-hidden="true"></i></div>
        <h4><a href="{% url 'about_blog:index' %}">About H-W-C</a></h4>
    </div>

    <!-- Main -->
    <main id="main">
          <!-- Section C -->
        <section id="section-c" class="grid grid2 grid4">
            {% if about %}
                {% comment %} <img src="{{ about_dev.Profile_pic.url }}" alt=""> {% endcomment %}
                <div class="content-wrap">
                    <h2 class="content-title">{{ about.headlines | title }}</h2>
                    <p>{{ about.about_blog1 }}</p>
                    <br>
                    <p>{{ about.about_blog2 }}</p>
                </div>

                <div class="about-links">
                    <h3>Profile: </h3>
                    <div>
                        <a href="https://twitter.com/HAROF97">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </div>
                        <div>
                        <a href="https://www.linkedin.com/in/arafat-olayiwola-b52087191/">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </div>
                    <div>
                        <a href="https://www.instagram.com/harof97/">
                            <i class="fab fa-instagram"></i></a>
                    </div>
                    <div>
                        <a href="https://web.facebook.com/profile.php?id=100009514147951">
                            <i class="fab fa-facebook"></i></a>
                    </div>
                </div>
            {% endif %}
        </section>

        <hr>
        <section id="section-c">
            {% if blogs %}
                <div class="content-wrap ">
                    <h2 class="content-title">HaroffWebConsults Blogs</h2>
                    {% for blog in blogs reversed %}
                        <div class="recent-posts left-anime">
                            <a href="{% url 'blog:main' blog.id %}">{{ blog.title | title }}</a>
                            <div class="post-prop">
                                <i class="fa fa-calendar"></i>
                                <span class="month">{{ blog.date_created | date:"F " }} </span>
                                <span class="day">{{ blog.date_created | date:" d, " }} </span>
                                <span class="year">{{ blog.date_created | date:"  Y" }} </span>
                                <span>By: <i class="fa fa-user"></i> {{ blog.author | title }}</span>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            <!-- Navigation -->
            <div class="carousel">
                {% if blogs.has_previous%}
                    <div class="chevron left-anime">
                        <a href="?page={{ blogs.previous_page_number }}"> <i class="fa fa-chevron-left"></i></a>
                    </div>
                    <br>
                   
                {% endif %}
                {% if blogs.has_next%}
                    <div class="top-anime">
                        {% comment %} <a href="?page=1">1</a> {% endcomment %}
                        <p> Page {{ blogs.number }} of {{ paginator.count }}</p>
                    </div>
                    <div class="chevron right-anime">
                        <a href="?page={{ blogs.next_page_number }}"><i class="fa fa-chevron-right "></i></a>
                    </div>
                    <br>
                   
                {% endif %}
            </div>
        </section>
    </main>

    <!-- Scroll Button -->
    <button class="scroll" id="scroll-top">
        <i class="fa fa-arrow-circle-up"></i>
    </button>

{% endblock %}
