{% extends 'homepage/base.html' %}
{% load static %}

{% block title %}
    {% if about_dev %}
        <title>{{ about_dev.Title }} | Haroff Web Consults</title>
    {% else %}
        <title>About Developer | Haroff Web Consults</title>
    {% endif %}
{% endblock %}

{% block content %}
   
    
     <!-- Links Tags -->
    <div class="links-tag">
        <h4><a href="{% url 'homepage:index' %}"><i class="fa fa-home"></i> Home</a></h4>
        <div> <i class="fa fa-chevron-right" aria-hidden="true"></i></div>
        <h4><a href="{% url 'about:index' %}"><i class="fa fa-user" aria-hidden="true"></i> About</a></h4>
    </div>

    <!-- Main -->
    <main id="main">
          <!-- Section C -->
        <section id="section-c" class="grid grid2">
            {% if about_dev %}
                <img src="{{ about_dev.Profile_pic.url }}" alt="">
                <div class="content-wrap">
                    <h2 class="content-title">{{ about_dev.Title | title }}</h2>
                    <p>{{ about_dev.About1 }}</p>
                    <br>
                    <p>{{ about_dev.About2 }}</p>
                </div>

                <div class="about-links">
                    <h3>Profile: </h3>
                    <div>
                        <a href="https://twitter.com/HAROF97">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </div>
                        <div>
                        <a href="https://www.linkedin.com/in/arafat-olayiwola-b52087191/">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </div>
                    <div>
                        <a href="https://www.instagram.com/harof97/">
                            <i class="fab fa-instagram"></i></a>
                    </div>
                    <div>
                        <a href="https://web.facebook.com/profile.php?id=100009514147951">
                            <i class="fab fa-facebook"></i></a>
                    </div>
                </div>
            {% endif %}
        </section>

        <hr>

        <!-- Section C -->
        <section id="section-c">
            {% if blog_listings %}
                <div class="content-wrap ">
                    <h2 class="content-title">Haroff Web Consults Blogs</h2>
                    {% for blog_listing in blog_listings reversed %}
                        <div class="recent-posts left-anime">
                            <a href="{% url 'blog:main' blog_listing.id %}">{{ blog_listing.title | title }}</a>
                            <div class="post-prop">
                                <i class="fa fa-calendar"></i>
                                <span class="month">{{ blog_listing.date_created | date:"F " }} </span>
                                <span class="day">{{ blog_listing.date_created | date:" d, " }} </span>
                                <span class="year">{{ blog_listing.date_created | date:"  Y" }} </span>
                                <span>By: <i class="fa fa-user"></i> {{ blog_listing.author | title }}</span>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            <!-- Navigation -->
            <!-- <div class="carousel">
                <div class="chevron">
                    <i class="fa fa-chevron-left"></i>
                </div>
                <div class="circle-nav">1</div>
                <div class="circle-nav">2</div>
                <div class="circle-nav">3</div>
                <div class="chevron">
                    <i class="fa fa-chevron-right"></i>
                </div>
            </div> -->
        </section>
    </main>

    <!-- Scroll Button -->
    <button class="scroll" id="scroll-top">
        <i class="fa fa-arrow-circle-up"></i>
    </button>

   <!-- JavaScript -->
    <script src="{% static 'js/about.js' %}"></script>
{% endblock %}
