 <!-- Footer -->
     <footer id="main-footer" >
        <div class="flex2">
            <div class="footer-links left-footer-grid">
                <h3>Applications</h3>
                <a href="index.html" target="_blank">Home</a>
                <a href="about.html" target="_blank">About</a>
                <a href="blog.html" target="_blank">Blog</a>
                <a href="contact.html" target="_blank">Contact</a>
            </div>

            <div class="footer-links right-footer-grid social-links">
                <h3>Social</h3>
                <a href="https://twitter.com/HAROF97">
                    <i class="fab fa-twitter"></i></a>
                <a href="https://www.linkedin.com/in/arafat-olayiwola-b52087191/">
                    <i class="fab fa-linkedin"></i></a>
                <a href="https://www.instagram.com/harof97/">
                    <i class="fab fa-instagram"></i></a>
                <a href="https://web.facebook.com/profile.php?id=100009514147951">
                    <i class="fab fa-facebook"></i></a>
            </div>

            <div class="footer-form">
                <h3>Subscribe To Our Weekly Newsletter</h3>
                <form>
                    <input type="email" placeholder="Subscribe your mail...">
                    <button type="submit" class="btn-sub">Submit</button>
                </form>
            </div>
            
        </div>
        <div class="copyright">
            <div>Copyright &copy; Haroff Web Consults 2021.</div>
            <div><em>Project By <a href="#" target="_blank">HaroffCode</a> <a href="#"><em>Privacy Policy</em></a></em></div>
        </div>
        
    </footer>