 <!-- Footer -->
     <footer id="main-footer" >
        <div class="flex2">
            <div class="footer-links left-footer-grid">
                <h3>Applications</h3>
                <a href="{% url 'homepage:index' %}" target="_blank">HomePage</a>
                  <a href="{% url 'about:index' %}" target="_blank">H-W-C</a>
                <a href="{% url 'about:index' %}" target="_blank">About Dev.</a>
                <a href="{% url 'blog:index' %}" target="_blank">Blogs</a>
                <a href="{% url 'contact:index' %}" target="_blank">Contact</a>
            </div>

            <div class="footer-links right-footer-grid social-links">
                <h3>Social</h3>
                <a href="https://twitter.com/HAROF97">
                    <i class="fab fa-twitter"></i></a>
                <a href="https://www.linkedin.com/in/arafat-olayiwola-b52087191/">
                    <i class="fab fa-linkedin"></i></a>
                <a href="https://www.instagram.com/harof97/">
                    <i class="fab fa-instagram"></i></a>
                <a href="https://web.facebook.com/profile.php?id=100009514147951">
                    <i class="fab fa-facebook"></i></a>
            </div>

            <div class="footer-form">
                <h3>Subscribe To Our Weekly Newsletter</h3>
                <!-- Alert When filling form -->
                <div class="alert-div" id="alert">
                    <p>Please fill in all fields!</p>
                    <button class="close-alert" id="alert-btn">
                        <i class="fa fa-window-close" aria-hidden="true"></i>
                    </button>
                </div>
                <form action="{% url 'register_mail:register' %}" method="POST" id="form_mail">
                    {% csrf_token %}
                    <input type="email" name="mail" id="subscriber_mail" placeholder="Subscribe your mail...">
                    <button type="submit" class="btn-sub">Submit</button>
                </form>
            </div>
        </div>
        <div class="copyright">
            <div>Copyright &copy; Haroff Web Consults 2021.</div>
            <div>
                <em>Project By <a href="https://twitter.com/HAROF97" target="_blank">HaroffCode</a> </em>
                <a href="#"><em>Privacy Policy</em></a>
            </div>
        </div>
    </footer>