
   <!-- Header --> 
    <header id="showcase">
        <nav id="nav">
            <div class="logo left-anime">Logo</div>
            <button id="open" class="btn-open">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </button>
            <ul id="links" class="flex right-anime">
                <li>
                    <a href="{% url 'homepage:index' %}" target="_blank">HOME</a>
                </li>
                <li>
                    <a href="{% url 'about:index' %}" target="_blank">ABOUT</a>
                </li>
                <li>
                    <a href="{% url 'blog:index' %}" target="_blank">BLOG</a>
                </li>
                <li>
                    <a href="{% url 'contact:index' %}" target="_blank">CONTACT</a>
                </li>
                <button id="close" class="btn-close">
                    <span>X</span>
                </button>
            </ul>
        </nav>
        <div class="bg-image"></div>
        <div class="content-wrap header-content">
            <div class="top-anime enlarge">
                <h1>Haroff Web Consults</h1>
                <small>...blogging all about technology!</small>
            </div>
            <div class="left-anime">
                <h3>Welcomes You!</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                Vel reiciendis sequi dolorem suscipit illum culpa beatae velit 
                cum dolores autem!</p>
            </div>
            <a href="#section-b" class="btn btn-block">Read More <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
        </div>
    </header>