{% extends 'homepage/base.html' %}
{% load static %}

{% block title %}
    <title>Homepage | Haroff Web Consults</title>
{% endblock %}

{% block content %}
   
      <!-- Links Tags -->
    <div class="links-tag">
        <h4><a href="#"><i class="fa fa-home"></i> Home</a></h4> 
    </div>


    <!-- Main -->
    <main id="main">
        {% if blogs %}
            {% if about_content %}
                <!-- Section A -->
                <section id="section-a" class="grid">
                    <div class="content-wrap right-anime">
                        <h2 class="content-title">{{ about_content.headlines | upper }}</h2>
                        <div class="content-text">
                            <p>{{ about_content.about_content }}</p>
                        </div>
                    </div>
                </section>
            {% endif %}
            <!-- Secton B -->
            <section id="section-b" class="grid">
                <ul>
                    {% for blog in blogs %}
                        <li class="left-anime">
                            <div class="card">
                                <img src="{% static 'images/posts.jpg' %}" alt="">
                                <div class="card-content">
                                    <h3>{{ blog.title | upper}}</h3>
                                    <p>{{ blog.description }}</p>
                                    <a href="{% url 'blog:main' blog.id %}">Read More <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
        
            </section>

            <!-- Navigation -->
            <div class="carousel">
                <div class="chevron left-anime">
                    <i class="fa fa-chevron-left"></i>
                </div>
                <div class="circle-nav top-anime">1</div>
                <div class="circle-nav top-anime">2</div>
                <div class="circle-nav top-anime">3</div>
                <div class="chevron right-anime">
                    <i class="fa fa-chevron-right "></i>
                </div>
            </div>

            <!-- Section C -->
            <section id="section-c">
                {% if blog_listings %}
                    <div class="content-wrap ">
                        <h2 class="content-title">Haroff Web Consults Blogs</h2>
                        {% for blog_listing in blog_listings reversed %}
                            <div class="recent-posts left-anime">
                                <a href="{% url 'blog:main' blog_listing.id %}">{{ blog_listing.title | title }}</a>
                                <div class="post-prop">
                                    <i class="fa fa-calendar"></i>
                                    <span class="month">{{ blog_listing.date_created | date:"F " }} </span>
                                    <span class="day">{{ blog_listing.date_created | date:" d, " }} </span>
                                    <span class="year">{{ blog_listing.date_created | date:"  Y" }} </span>
                                <span>By: <i class="fa fa-user"></i> {{ blog_listing.author | title }}</span>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

                <!-- Navigation -->
                <!-- <div class="carousel">
                    <div class="chevron">
                        <i class="fa fa-chevron-left"></i>
                    </div>
                    <div class="circle-nav">1</div>
                    <div class="circle-nav">2</div>
                    <div class="circle-nav">3</div>
                    <div class="chevron">
                        <i class="fa fa-chevron-right"></i>
                    </div>
                </div> -->
            </section>

                    

                <!-- Section D -->
                <section id="section-d" class="grid">
                    <div class="box">
                        <h2 class="content-title">About The Developer</h2>
                        <p>Lorem ipsum dolor sit amet  consectetur adipisicing elit.
                        Qui sapiente reiciendis explicabo nemo similique animi ex a, fugit magnam incidunt!
                        </p>
                        <a href="{% url 'about:index' %}">Learn More <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                    </div>
                    <div class="box">
                        <h2 class="content-title">Contact Developer</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Qui sapiente reiciendis explicabo nemo similique animi ex a, fugit magnam incidunt!
                        </p>
                        <a href="{% url 'contact:index' %}">Reach Developer <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                    </div>
                </section>
        {% endif %}
    </main>

    <!-- Scroll Button -->
    <button class="scroll" id="scroll-top">
        <i class="fa fa-arrow-circle-up"></i>
    </button>

     <!-- JavaScript -->
    <script src="{% static 'js/app.js' %}"></script>
{% endblock %}
