{% extends 'homepage/base.html' %}
{% load static %}



{% block title %}
    <title>Blog Content | Haroff Web Consults</title>
{% endblock %}

{% block content %}

     <!-- Links Tags -->
    <div class="links-tag">
        <h4><a href="#"><i class="fa fa-home"></i> Home</a></h4>
        <div><i class="fa fa-chevron-right" aria-hidden="true"></i></div> 
        <h4><a href="#"><i class="fa fa-book"></i> Blog</a></h4>
    </div>

    <!-- Main -->
    <main id="main">

       <section id="blog-section" class="blog">
           <img src="{% static 'images/post.jpg' %}" alt="">
           <div class="card-content-prop">
                                
                <div class="admin">
                    Posted By: <i class="fa fa-user" aria-hidden="true"></i> Admin</div>
                
                <div class="post-prop">
                    <span>Posted On:
                        <i class="fa fa-calendar"></i>
                        <span class="month">February </span>
                        <span class="day">08, </span>
                        <span class="day">2021</span>
                    </span>
                    <span>
                        <i class="fa fa-clock"></i>
                        5:04pm</span>
                </div>

                <div class="about-links">
                    <small>Share:</small>
                    <div>
                        <a href="https://twitter.com/HAROF97">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </div>
                        <div>
                        <a href="https://www.linkedin.com/in/arafat-olayiwola-b52087191/">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </div>
                    <div>
                        <a href="https://www.instagram.com/harof97/">
                            <i class="fab fa-instagram"></i></a>
                    </div>
                    <div>
                        <a href="https://web.facebook.com/profile.php?id=100009514147951">
                            <i class="fab fa-facebook"></i></a>
                    </div>
                  
                   
                </div>
            </div>

            <hr>
        
           <div class="blog-wrap">
               <h2 class="blog-title">Blog Title</h2>
               <div class="blog-content">
                   <p>
                       Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, ut officia eos laborum reprehenderit placeat tenetur? Ducimus, ex. Cupiditate provident vitae 
                       quis eligendi vero culpa rem sapiente iste error. Doloribus cum minima ullam at voluptate ut, consequuntur illo iste ipsa quidem nulla laboriosam architecto eaque reiciendis esse, laborum asperiores impedit.
                   </p>

                   <p>
                       Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, minima, est reprehenderit, rerum cum magni molestiae fugit adipisci a ullam nihil? Maiores, natus voluptatum. 
                       Distinctio, tempore voluptates. Sint officiis aspernatur dicta deserunt consequatur rem dolore hic labore, adipisci, cupiditate autem laboriosam. Nam magnam recusandae modi vitae. Nostrum quaerat amet ad.
                   </p>

                   <p>
                       Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque officia odio accusamus ea! Fugiat neque, error temporibus odio aliquam eos veritatis 
                       inventore dolorum cum dolores! Quidem excepturi animi libero repellendus!
                   </p>

                   <p>
                       Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, ab voluptate numquam architecto, alias voluptas voluptatum laborum omnis ad eos hic aut cupiditate consequatur cumque. Assumenda minus facere 
                       architecto quidem?
                   </p>

                   <p>
                       Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat totam perspiciatis assumenda et itaque? Dolore impedit tempora aperiam nemo eaque maxime voluptatem, recusandae nisi nobis quia sequi beatae 
                       libero accusamus!
                   </p>
               </div>
           </div>
       </section>

        <!-- Section Comment -->
        <h4>Comments</h4>

        <hr>
        <section id="comment">
            <div class="comment-div">
                <h5>Name Of The Person</h5>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                    Libero beatae illum in omnis ullam aspernatur, 
                </p>
                <div class="buttons">
                    <button class="btn-edit">
                        <i class="fa fa-edit"></i>
                    </button>
                    <button class="btn-edit">
                         <i class="fa fa-trash"></i>
                    </button>
                    
                    <div class="post-prop flex-date">
                        <span><em>Posted:
                            <i class="fa fa-calendar"></i>
                            <span class="month">February </span>
                            <span class="day">08, </span>
                            <span class="year">2021</span>
                            <span> <i class="fa fa-clock"></i> 5:04pm</span>
                        </em></span>
                    </div>
                     
                </div>
            </div>
        </section>

        <!-- Section Comment -->
        <section id="comment">
            <div class="comment-div">
                <h5>Name Of The Person</h5>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                    Libero beatae illum in omnis ullam aspernatur, 
                </p>
                <div class="buttons">
                    <button class="btn-edit">
                        <i class="fa fa-edit"></i>
                    </button>
                    <button class="btn-edit">
                            <i class="fa fa-trash"></i>
                    </button>
                    <div class="post-prop flex-date">
                        <span><em>Posted:
                            <i class="fa fa-calendar"></i>
                            <span class="month">February </span>
                            <span class="day">08, </span>
                            <span class="year">2021</span>
                            <span> <i class="fa fa-clock"></i> 5:04pm</span>
                        </em></span>
                    </div>
                </div>
            </div>
        </section>
        <br>


        <!-- Section A -->
        <section id="section-a" class="grid">
            <div class="content-wrap">
                <h2 class="content-title">Comment Section</h2>
                <form  class="contact-form" id="form">
                    <input type="text"  name="fullname" placeholder="Give your name here...">
                    <textarea name="message" id="" cols="30" rows="10" class="text_area" placeholder="Type in your comment..."></textarea>
                    <button type="submit" class="btn_send">Post Comment</button>
                </form>
            </div>
               
        </section>

       <!-- Section C -->
        <section id="section-c">
            <div class="content-wrap ">
                <h2 class="content-title">Recent Posts</h2>
                <div class="recent-posts left-anime">
                    <a href="#">Lorem ipsum dolor sit amet.</a>
                    <div class="post-prop">
                        <span>Posted On: 
                            <i class="fa fa-calendar"></i>
                            <span class="month">February </span>
                            <span class="day">08, </span>
                            <span class="year">2021</span>
                        </span>
                        <span> <i class="fa fa-clock"></i> 5:04pm</span>
                    </div>
                </div>

                <div class="recent-posts top-anime">
                    <a href="#">Lorem ipsum dolor sit amet.</a>
                    <div class="post-prop">
                        <span>Posted On: 
                            <i class="fa fa-calendar"></i>
                            <span class="month">February </span>
                            <span class="day">08, </span>
                            <span class="year">2021</span>
                        </span>
                        <span> <i class="fa fa-clock"></i> 5:04pm</span>
                    </div>
                </div>

                <div class="recent-posts right-anime">
                    <a href="#">Lorem ipsum dolor sit amet.</a>
                    <div class="post-prop">
                        <span>Posted On: 
                            <i class="fa fa-calendar"></i>
                            <span class="month">February </span>
                            <span class="day">08, </span>
                            <span class="year">2021</span>
                        </span>
                        <span> <i class="fa fa-clock"></i> 5:04pm</span>
                    </div>
                </div>
            </div>

            <!-- Navigation -->
            <!-- <div class="carousel">
                <div class="chevron">
                    <i class="fa fa-chevron-left"></i>
                </div>
                <div class="circle-nav">1</div>
                <div class="circle-nav">2</div>
                <div class="circle-nav">3</div>
                <div class="chevron">
                    <i class="fa fa-chevron-right"></i>
                </div>
            </div> -->
        </section>

    
    </main>

    <!-- Scroll Button -->
    <button class="scroll" id="scroll-top">
        <i class="fa fa-arrow-circle-up"></i>
    </button>

{% endblock %}
