{% extends 'homepage/base.html' %}
{% load static %}



{% block title %}
    <title>Blog Comments | Haroff Web Consults</title>
{% endblock %}

{% block content %}
    {% comment %} {% include 'blog/blog.html' %} {% endcomment %}

    {% comment %} <div> {% endcomment %}
            {% comment %} {% for comment in comments %}
                <section id="comment">
                    <div class="comment-div">
                        <h5>{{ comments.fullname | title }}</h5>
                        <p>{{ comments.message }}</p>
                        <div class="buttons">
                            <button class="btn-edit">
                                <i class="fa fa-edit"></i>
                            </button>
                            <button class="btn-edit">
                                <i class="fa fa-trash"></i>
                            </button>
                            
                            <div class="post-prop flex-date">
                                <span><em>Posted On:
                                    <i class="fa fa-calendar"></i>
                                    <span class="month">February </span>
                                    <span class="day">08, </span>
                                    <span class="year">2021</span>
                                    <span> <i class="fa fa-clock"></i> 5:04pm</span>
                                </em></span>
                            </div>
                            
                        </div>
                    </div>
                </section>
            {% endfor %}
        </div> {% endcomment %}

    <!-- Alert When filling form -->
    <div class="alert-div" id="alert">
        <p>Please all fields are required!</p>
        <button class="close-alert" id="alert-btn"><i class="fa fa-window-close" aria-hidden="true"></i></button>
    </div> 
          
    <!-- Section A -->
    <section id="section-a" class="grid">
        <div class="content-wrap">
            <h2 class="content-title">Comment Section</h2>
            <form  action="" class="contact-form" id="form" method="POST">
                {% csrf_token %}
                <input type="text"  name="fullname" placeholder="Give your name here...">
                <textarea name="message" id="" cols="30" rows="10" class="text_area" placeholder="Type in your comment..."></textarea>
                <button type="submit" class="btn_send">Post Comment</button>
            </form>
        </div>   
    </section>


    <section id="section-c">
        <div class="content-wrap ">
            <h2 class="content-title">Recent Posts</h2>
            <div class="recent-posts left-anime">
                <a href="#">Lorem ipsum dolor sit amet.</a>
                <div class="post-prop">
                    <span>Posted On: 
                        <i class="fa fa-calendar"></i>
                        <span class="month">February </span>
                        <span class="day">08, </span>
                        <span class="year">2021</span>
                    </span>
                    <span> <i class="fa fa-clock"></i> 5:04pm</span>
                </div>
            </div>

            <div class="recent-posts top-anime">
                <a href="#">Lorem ipsum dolor sit amet.</a>
                <div class="post-prop">
                    <span>Posted On: 
                        <i class="fa fa-calendar"></i>
                        <span class="month">February </span>
                        <span class="day">08, </span>
                        <span class="year">2021</span>
                    </span>
                    <span> <i class="fa fa-clock"></i> 5:04pm</span>
                </div>
            </div>

            <div class="recent-posts right-anime">
                <a href="#">Lorem ipsum dolor sit amet.</a>
                <div class="post-prop">
                    <span>Posted On: 
                        <i class="fa fa-calendar"></i>
                        <span class="month">February </span>
                        <span class="day">08, </span>
                        <span class="year">2021</span>
                    </span>
                    <span> <i class="fa fa-clock"></i> 5:04pm</span>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}