{% extends 'homepage/base.html' %}
{% load static %}

{% block title %}
    <title>Blog Content | Haroff Web Consults</title>
{% endblock %}

{% block content %}
    <!-- Section C -->
    <section id="section-c">
        {% if listings %}
            <div class="content-wrap ">
                <h2 class="content-title">Recent Posts</h2>
                {% for listing in listings %}
                    <div class="recent-posts left-anime">
                        <a href="{% url 'blog:main' %}">{{ listing.blog | title }}</a>
                        <div class="post-prop">
                            <span>Posted On: 
                                <i class="fa fa-calendar"></i>
                                <span class="month">February </span>
                                <span class="day">08, </span>
                                <span class="year">2021</span>
                            </span>
                            <span> <i class="fa fa-clock"></i> 5:04pm</span>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <!-- Navigation -->
        <!-- <div class="carousel">
            <div class="chevron">
                <i class="fa fa-chevron-left"></i>
            </div>
            <div class="circle-nav">1</div>
            <div class="circle-nav">2</div>
            <div class="circle-nav">3</div>
            <div class="chevron">
                <i class="fa fa-chevron-right"></i>
            </div>
        </div> -->
    </section>

{% endblock %}